
/* フォーム部品スタイル */
.input_from_to input {
    width: 40%;
}

.multiple_checkbox label {
    display: inline;
    padding-left: 1em;
}

.form_buttons {
    text-align: center;
    padding: 1em 0 0 0;
}

/* button style */
input[type='button'].btn, 
input[type='reset'].btn, 
input[type='submit'].btn,
button.btn,
a.btn {
    border-radius: 2rem;
    padding: 0.5rem 1.5rem;
    line-height: 1.5;
    font-size: 1.6rem;
    display: inline-block;
    height: 3.8rem;
    font-weight: normal;
}

input[type='button'].btn:hover, 
input[type='reset'].btn:hover, 
input[type='submit'].btn:hover,
button.btn:hover,
a.btn:hover {
    opacity: 0.5;
}

input[type='button'].btn.white_fill, 
input[type='reset'].btn.white_fill, 
input[type='submit'].btn.white_fill,
button.btn.white_fill,
a.btn.white_fill {
    border: #ffffff solid 2px;
    color: #000000;
    background: #ffffff;
}

input[type='button'].btn.white_line, 
input[type='reset'].btn.white_line, 
input[type='submit'].btn.white_line,
button.btn.white_line,
a.btn.white_line {
    border: #ffffff solid 2px;
    color: #ffffff;
    background: #000000;
}

input[type='button'].btn.grey_fill, 
input[type='reset'].btn.grey_fill, 
input[type='submit'].btn.grey_fill,
button.btn.grey_fill,
a.btn.grey_fill {
    border: #999999 solid 2px;
    color: #ffffff;
    background: #999999;
}

input[type='button'].btn.grey_line, 
input[type='reset'].btn.grey_line, 
input[type='submit'].btn.grey_line,
button.btn.grey_line,
a.btn.grey_line {
    border: #999999 solid 2px;
    color: #999999;
    background: #ffffff;
}

input[type='button'].btn.black_fill, 
input[type='reset'].btn.black_fill, 
input[type='submit'].btn.black_fill,
button.btn.black_fill,
a.btn.black_fill {
    border: #000000 solid 2px;
    color: #ffffff;
    background: #000000;
}

input[type='button'].btn.black_line, 
input[type='reset'].btn.black_line, 
input[type='submit'].btn.black_line,
button.btn.black_line,
a.btn.black_line {
    border: #000000 solid 2px;
    color: #000000;
    background: #ffffff;
}

input[type='button'].btn.red_fill, 
input[type='reset'].btn.red_fill, 
input[type='submit'].btn.red_fill,
button.btn.red_fill,
a.btn.red_fill {
    border: #d33c43 solid 2px;
    color: #ffffff;
    background: #d33c43;
}

input[type='button'].btn.red_line, 
input[type='reset'].btn.red_line, 
input[type='submit'].btn.red_line,
button.btn.red_line,
a.btn.red_line {
    border: #d33c43 solid 2px;
    color: #d33c43;
    background: #ffffff;
}

input[type='button'].btn.blue_fill, 
input[type='reset'].btn.blue_fill, 
input[type='submit'].btn.blue_fill,
button.btn.blue_fill,
a.btn.blue_fill {
    border: #3498db solid 2px;
    color: #ffffff;
    background: #3498db;
}

input[type='button'].btn.blue_line, 
input[type='reset'].btn.blue_line, 
input[type='submit'].btn.blue_line,
button.btn.blue_line,
a.btn.blue_line {
    border: #3498db solid 2px;
    color: #3498db;
    background: #ffffff;
}

input[type='button'].btn.yellow_fill, 
input[type='reset'].btn.yellow_fill, 
input[type='submit'].btn.yellow_fill,
button.btn.yellow_fill,
a.btn.yellow_fill {
    border: #f1c40f solid 2px;
    color: #000000;
    background: #f1c40f;
}

input[type='button'].btn.yellow_line, 
input[type='reset'].btn.yellow_line, 
input[type='submit'].btn.yellow_line,
button.btn.yellow_line,
a.btn.yellow_line {
    border: #f1c40f solid 2px;
    color: #f1c40f;
    background: #000000;
}

input[type='button'].btn.green_fill, 
input[type='reset'].btn.green_fill, 
input[type='submit'].btn.green_fill,
button.btn.green_fill,
a.btn.green_fill {
    border: #03dac6 solid 2px;
    color: #ffffff;
    background: #03dac6;
}

input[type='button'].btn.green_line, 
input[type='reset'].btn.green_line, 
input[type='submit'].btn.green_line,
button.btn.green_line,
a.btn.green_line {
    border: #03dac6 solid 2px;
    color: #03dac6;
    background: #ffffff;
}

input[type='button'].btn.orange_fill, 
input[type='reset'].btn.orange_fill, 
input[type='submit'].btn.orange_fill,
button.btn.orange_fill,
a.btn.orange_fill {
    border: #e67e22 solid 2px;
    color: #ffffff;
    background: #e67e22;
}

input[type='button'].btn.orange_line, 
input[type='reset'].btn.orange_line, 
input[type='submit'].btn.orange_line,
button.btn.orange_line,
a.btn.orange_line {
    border: #e67e22 solid 2px;
    color: #e67e22;
    background: #ffffff;
}

input[type='button'].btn.pink_fill, 
input[type='reset'].btn.pink_fill, 
input[type='submit'].btn.pink_fill,
button.btn.pink_fill,
a.btn.pink_fill {
    border: #fd79a8 solid 2px;
    color: #ffffff;
    background: #fd79a8;
}

input[type='button'].btn.pink_line, 
input[type='reset'].btn.pink_line, 
input[type='submit'].btn.pink_line,
button.btn.pink_line,
a.btn.pink_line {
    border: #fd79a8 solid 2px;
    color: #fd79a8;
    background: #ffffff;
}


/* Flash messages */
.message {
    padding: 0.5rem;

    background: #eff8ff;
    color: #2779bd;

    border-color: #6cb2eb;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    margin-bottom: 2rem;
}
.message.hidden {
    display: none;
}
.message.success {
    background: #e3fcec;
    color: #1f9d55;
    border-color: #51d88a;
}
.message.warning {
    background: #fffabc;
    color: #8d7b00;
    border-color: #d3b800;
}
.message.error {
    background: #fcebea;
    color: #cc1f1a;
    border-color: #ef5753;
}